<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- Define the app loggers -->
    <logger name="org.jcramb" level="DEBUG" />

    <!-- Define the spring loggers -->
    <logger name="org.springframework" level="INFO" />

    <!-- Define the hibernate loggers -->
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type" level="TRACE" />

    <!-- Define the root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>